.create-hero-container {
  width: 80%;
  margin: auto;
}
.input-container {
  text-align: center;
  margin: 50px;
}
.input-container span {
  margin-right: 50px;
}
.input-container input {
  outline: 0;
  background-color: #bdbdbd;
  border: none;
  border-radius: 0;
  padding: 10px;
}
.range-container {
  margin: auto;
}
.create-hero-button {
  text-align: center;
  margin: 50px;
}
.create-hero-button button {
  border: none;
  background-color: #bdbdbd;
  padding: 14px 16px;
  cursor: pointer;
}


